@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome To Azure For .NET Developers
    </h1>
    <h3>
        bla bla bla
    </h3>
</div>
